.Mitad   {width:50.00%;}
.Tercio1 {width:33.33%;}
.Tercio2 {width:66.66%;}
.Cuarto1 {width:25.00%;}
.Cuarto3 {width:75.00%;}
.Quinto1 {width:20.00%;}
.Quinto2 {width:40.00%;}
.Quinto3 {width:60.00%;}
.Quinto4 {width:80.00%;}
.Sexto1  {width:16.66%;}
.Sexto5  {width:83.34%;}
.Septimo1{width:14.28%;}
.Septimo2{width:28.60%;}
.Septimo3{width:42.86%;}
.Septimo4{width:57.14%;}
.Septimo5{width:71.40%;}
.Septimo6{width:85.72%;}
.Octavo1 {width:12.50%;}
.Octavo3 {width:37.50%;}
.Octavo5 {width:62.50%;}
.Octavo7 {width:87.50%;}
.Noveno1 {width:11.11%;}
.Noveno2 {width:22.22%;}
.Noveno4 {width:44.44%;}
.Noveno5 {width:55.56%;}
.Noveno7 {width:77.78%;}
.Noveno8 {width:88.89%;}
.Decimo1 {width:10.00%;}
.Decimo3 {width:30.00%;}
.Decimo7 {width:70.00%;}
.Decimo9 {width:90.00%;}
#notifications{
    position:fixed;
    bottom:0px;
    right: 0px;
    width:30%;
}
.notification{
    padding:10px;
    margin:10px;
    border:1px solid transparent;
    text-align: right;
    font-size:15px;
    line-height: 1em;   
    color:#fff;
}
.notification.success{
    border-color: #0f0;
    background-color: #030;
}
.notification.error{
    border-color: #f00;
    background-color: #300;
}
header{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    background-color:#000;
    z-index: 3;
}
#container{
    height:calc(100vh - 76px);
    overflow-y: auto;
    position:fixed;
    top:38px;
    left:0px;
    width:100%;
    z-index: 2
}
footer{
    position:fixed;
    text-align: center;
    bottom:0px;
    left:0px;
    width:100%;
}
#header-toggler{
    display:none;
}