*{
    height:auto;
    font:inherit;
    font-family: Tahoma;
    font-weight:normal;
    font-size:inherit;
    outline:none;
    margin: 0px;
    padding: 0px;
    border: none;
    color:inherit;
    background-color: transparent;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    text-decoration: none;
    border:none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    z-index:1;
}
input,select,textarea,header{z-index: 2;}
footer{z-index:0;}
nav{display:block;}
.PopUp{z-index:3;}
::-webkit-scrollbar {z-index: 9999;}
body{
    width: 100%;
    height: 100%;
    background-color:#000;
    color:#fff;
}
a{
    transition: color linear 0.1s 0.1s;
    cursor:pointer
}
a:hover{
    text-decoration: underline;
    opacity:0.8;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    padding:0.5em;
}
h1{font-size: 30px;line-height:30px;}
h2{font-size: 26px;line-height:26px;}
h3{font-size: 22px;line-height:22px;}
h4{font-size: 18px;line-height:18px;}
h5{font-size: 14px;line-height:14px;}
h6{font-size: 12px;line-height:12px;}
::-webkit-scrollbar {
    width: 2px;
    height:2px;
    position: fixed;
    right:0px;
    background-color: #f00;
    transition:all linear 0.2s 0.2s;
    text-align: center;
    z-index:10;
}
::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0.9);
    transition:all linear 0.2s 0.2s;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.3);
    transition:all linear 0.2s 0.2s;
    width:100%;
}
::-webkit-scrollbar:hover,::-webkit-scrollbar-track:hover{
    width:5px;
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,0.6);
}
::-webkit-scrollbar-thumb:hover{
    background-color: #f00;
}
::-webkit-scrollbar-corner {
    background-color: black;
}
.Box{
    margin: auto;
    max-width: 100%;
}
.Fila{
    width: 100%;
    display: block;
    vertical-align: top;
}
.text-center{text-align: center;vertical-align: top;}
.text-middle{position:relative;top:50%;transform:translateY(-50%)}
.text-right{text-align: right;vertical-align: top;}
.text-justified{
    text-align: justify;
    vertical-align: top;
}
.Mitad,.Tercio1,.Tercio2,.Cuarto1,.Cuarto3,.Quinto1,.Quinto2,.Quinto3,.Quinto4,
.Sexto1,.Sexto5,.Septimo1,.Septimo2,.Septimo3,.Septimo4,.Septimo5,.Septimo6,
.Octavo1,.Octavo3,.Octavo5,.Octavo7,.Noveno1,.Noveno2,.Noveno4,.Noveno5,.Noveno7,
.Decimo1,.Decimo3,.Decimo7,.Decimo9{
    display: inline-block;
    vertical-align: top;
}

.fa{color: inherit}
::selection{
    background-color:#fff;
    color:#000;
}
input, select,textarea,.boton{
    padding: 1em;font-size: 12px!important;line-height: 12px;
    width: calc(100% - 2em - 2px); 
    border:1px solid transparent;
    border-bottom-color:inherit;
    text-align: left;
    color:inherit;
    background-color: transparent;
    font-weight: bold;
    resize:vertical;
    height:14px;
}
.boton{
    border:none;
    text-align:center;
}
select{text-transform:uppercase}
input[type="button"],input[type="submit"],input::-webkit-input-placeholder{text-align:center;text-transform: uppercase;font-size:0.8em}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:#fff;text-align:center;text-transform: uppercase;font-size: 12px;font-weight: normal;position:relative;top:50%;transform:translateY(-50%)}
textarea{min-height:calc(33vh - 50px - 2em)}
optgroup,option{color:#fff;background-color:#000}
input:focus,select:focus,select:hover,input:hover{
    border-width:1px;
    border-style:solid;
    border-color:inherit;
    background-color:rgba(0,0,0,0.2);
}
input:disabled{
    background-color: black!important;
    color: #fff;
    border:1px dashed #f00;
}
input[type="date"]::-webkit-inner-spin-button,input[type="number"]::-webkit-inner-spin-button { display: none; }
.Negro{background-color: #000;color:#fff;border-color:#000;}
.Negro:hover{background-color: #333;border-color:#333;}
.Amarillo{background-color: #ff0; color:#000;border-color:#ff0;}
.Amarillo:hover{background-color: #cc0;border-color:#cc0}
.Naranja{background-color: #ffa500; color:#000;border-color:#ffa500;}
.Naranja:hover{background-color: #dd9500;border-color:#dd9500;}
.Morado{background-color: #f0f;border-color:#f0f;}
.Morado:hover{background-color: #c0c;border-color:#c0c;}
input[type="button"],input[type="submit"],.Blanco{background-color: #fff;color:#000;border-color:#fff;}
input[type="button"]:hover,input[type="submit"]:hover,.Blanco:hover{background-color: #ccc;border-color:#ccc;}
.Azul{background-color: #00f;border-color:#00f;}
.Azul:hover{background-color: #00c;border-color:#00c;}
.AzulOscuro{background-color: #006;border-color:#006;}
.AzulOscuro:hover{background-color: #003;border-color:#003;}
.Rojo{background-color: #f00;border-color:#f00;}
.Rojo:hover{background-color: #c00;border-color:#c00;}
.Verde{background-color: #0f0;border-color:#0f0;}
.Verde:hover{background-color: #0c0;border-color:#0c0;}
.VerdeOscuro{background-color: #336600;border-color:#0f0;}
.VerdeOscuro:hover{background-color:#003300 ;border-color:#0c0;}