.Box,.Mitad,.Tercio1,.Tercio2,.Cuarto1,.Cuarto3,.Quinto1,.Quinto2,.Quinto3,.Quinto4,
.Sexto1,.Sexto5,.Septimo1,.Septimo2,.Septimo3,.Septimo4,.Septimo5,.Septimo6,
.Octavo1,.Octavo3,.Octavo5,.Octavo7,.Noveno1,.Noveno2,.Noveno4,.Noveno5,.Noveno7,
.Decimo1,.Decimo3,.Decimo7,.Decimo9{
    display: block;width: 100%;
}
header{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    background-color:#000;
    z-index: 3;
}
#container{
    height:calc(100vh - 114px);
    overflow-y: auto;
    position:fixed;
    top:38px;
    left:0px;
    width:100%;
    z-index: 2;
}
footer{
    position:fixed;
    text-align: center;
    bottom:0px;
    left:0px;
    width:100%;
}
#header-toggler{
    display:block;
}
#header-nav{
    display:none;
}
#notifications{
    position:fixed;
    bottom:0px;
    right: 0px;
    width:100%;
}
.notification{
    padding:10px;
    margin:10px;
    border:1px solid transparent;
    text-align: center;
    font-size:15px;
    line-height: 1em;   
    color:#fff;
}
.notification.success{
    border-color: #0f0;
    background-color: #030;
}
.notification.error{
    border-color: #f00;
    background-color: #300;
}