<div id="edit">
    <div class="Mitad">
        Monto
    </div><div class="Mitad">
        <input type='number' id='amount' placeholder='Monto'>
    </div>
    <div class='boton' onclick='payment_save()'>Guardar</div>
</div>