<div id="edit">
    <div class="Mitad">
        Tel&eacute;fono
    </div><div class="Mitad">
        <input type='tel' id='phone' placeholder='Tel&eacute;fono'>
    </div><div class="Mitad">
        Monto
    </div><div class="Mitad">
        <input type='number' id='amount' placeholder='Monto'>
    </div>
    <input type='hidden' id='id'>
    <div class='boton' onclick='payment_save()'>Guardar</div>
</div>