<div class='list'>
    <div class='boton VerdeOscuro' onclick='load_view("payment.add")'>Agregar Pago</div>
    <div id='list-header' class='Fila'>
        <div class='Cuarto1'>
            <div class='boton Blanco'>Usuario</div>
        </div><div class='Cuarto1'>
            <div class='boton Blanco'>Monto</div>
        </div><div class='Cuarto1'>
            <div class='boton Blanco'>Fecha</div>
        </div><div class='Cuarto1'>
            <div class='boton Blanco'>Acciones</div>
        </div>
    </div>
    <div class='Fila' id='list-content'></div>
</div>