<div id="edit">
    <div class="Mitad">
        Correo electr&oacute;nico
    </div><div class="Mitad">
        <input type='email' id='email' placeholder='Correo Electr&oacute;nico'>
    </div><div class="Mitad">
        Tel&eacute;fono
    </div><div class="Mitad">
        <input type='tel' id='phone' placeholder='Tel&eacute;fono'>
    </div><div class="Mitad">
        Nombre
    </div><div class="Mitad">
        <input type='text' id='name' placeholder='Nombre'>
    </div>
    <input type='hidden' id='id'>
    <div class='boton' onclick='user_save()'>Guardar</div>
</div>