<div class='list'>
    <div class='boton VerdeOscuro' onclick='load_view("user.new")'>Agregar Usuario</div>
    <div id='list-header' class='Fila'>
        <div class='Cuarto1'>
            <div class='boton Blanco'>Nombre</div>
        </div><div class='Cuarto1'>
            <div class='boton Blanco'>Tel&eacute;fono</div>
        </div><div class='Cuarto1'>
            <div class='boton Blanco'>Correo</div>
        </div><div class='Cuarto1'>
            <div class='boton Blanco'>Acciones</div>
        </div>
    </div>
    <div class='Fila' id='list-content'></div>
</div>