<div id="login">
    <input type="text" id="username" placeholder="Correo">
    <input type="password" id="password" placeholder="Clave">
    <div class="boton Azul" onclick="do_login()">Iniciar Sesion</div>
</div>