<div id="header-logged-out">
    <div class="Tercio1">
        <div class="boton" onclick="load_view('home')">home</div>
    </div><div class="Tercio1">
        <div class="boton" onclick="load_view('user.login')">Login</div>
    </div><div class="Tercio1">
        <div class="boton" onclick="load_view('user.new')">Register</div>
    </div>
</div>