<div id="header-logged-admin">
    <div class="Quinto1">
        <div class="boton" onclick="load_view('home')">home</div>
    </div><div class="Quinto1">
        <div class="boton" onclick="user_edit()">Mi perfil</div>
    </div><div class="Quinto1">
        <div class="boton" onclick="user_list()">Usuarios</div>
    </div><div class="Quinto1">
        <div class="boton" onclick="payment_all()">Pagos</div>
    </div><div class="Quinto1">
        <div class="boton" onclick="do_logout()">Cerrar Sesion</div>
    </div>
</div>