<div id="header-cliente">
    <div class="Cuarto1">
        <div class="boton" onclick="load_view('home')">home</div>
    </div><div class="Cuarto1">
        <div class="boton" onclick="user_edit()">Mi perfil</div>
    </div><div class="Cuarto1">
        <div class="boton" onclick="payment_all()">Mis Pagos</div>
    </div><div class="Cuarto1">
        <div class="boton" onclick="do_logout()">Cerrar Sesion</div>
    </div>
</div>